#main-top-bar {
    min-height: 56px;
    background-color: #fff;
}


#main-top-bar .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: 15px 0;
}

#main-top-bar .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}

#main-top-bar .navbar-nav .nav-item:active, #main-top-bar .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

#main-top-bar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}
#main-top-bar .navbar-brand {
    padding:8px 0;
    color: rgba(255, 255, 255, 1);
}
#main-top-bar .nav-link {
    transition: none;
    padding:  32px 24px;
    color: rgba(255, 255, 255, 1);
}
#main-top-bar .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}
#main-top-bar .nav-link:active {
    color: white;
}
#main-top-bar.navbar-shrink {
    background-color: #fff;
}
#main-top-bar.navbar-shrink .navbar-brand {
    color: #161616;
}
#main-top-bar.navbar-shrink .nav-link {
    color: #161616;
    padding: 24px 24px 20px;
    border-bottom: 4px solid transparent;
}
#main-top-bar.navbar-shrink .nav-link:hover {
    color: #64a19d;
}
#main-top-bar.navbar-shrink .nav-link:active {
    color: #467370;
}
#main-top-bar.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 4px solid #64a19d;
}
.div-profile {
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/train-depo.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20vh;
}

.top-header {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 400px;
    padding: 250px 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/train-depo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.top-header-2{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 400px;
    padding: 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/train-depo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.top-header h1, top-header-2 h1 {
    font-family: 'Varela Round';
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 12px;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.top-header {
    height: 100vh;
    padding: 0;
}
.top-header h1, top-header-2 h1 {
    font-size: 4.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
}
.top-header h2, top-header-2 h2 {
    max-width: 30rem;
    font-size: 20px;
}

.train-table {
    margin: 20px 0;
}
.btn {
    padding: 20px  32px;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}

.btn-primary {
    background-color: #64a19d;
}

.btn-primary:hover {
    background-color: #4f837f;
}

.btn-primary:focus {
    background-color: #4f837f;
    color: white;
}

.btn-primary:active {
    background-color: #467370 !important;
}

.about-section {
    padding: 50px;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 1) 10%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 90%);
}
form {
    color: white !important;
}

.table-profile {
    background-color: #ffffff;
}

.about-section p {
    margin-bottom: 5rem;
}

.projects-section {
    padding: 30px 0;
}


.contact-section {
    padding: 5rem 0 0;
}

.contact-section .card {
    border: 0;
    border-bottom: 4px solid #64a19d;
}

.contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    border-color: #64a19d;
    border-width: 4px;
    width: 3rem;
}


body {
    font-family: 'Nunito';
}

a {
    color: #64a19d;
}

a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
}

.bg-black {
    background-color: #161616 !important;
}

.bg-primary {
    background-color: #64a19d !important;
}

.text-primary {
    color: #64a19d !important;
}

footer {
    padding: 40px 0;
}

/* css for reg, login, profile */
.personal_details{
    border-radius: 12px;
    background-color: #364042;
    padding: 15px;
    margin-bottom: 10px;
    color: #ffffff;
}
.personal_details button, .buttons-list button, .buttons-list a{
    padding: 12px 15px;
}

.buttons-list li{
    padding: 12px;
}
.tickets{
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
}
.personal_details ul li{
    font-size: 14px;
    margin: 2px;
    padding: 0;
}


.title{
    text-align: center;
    color: #ffffff;
}

.list-group-item{
    border: 0 !important;
    background-color: transparent !important;
}


.form-div {
    background-color: #364042;
    border-radius: 12px;
    padding: 15px;

}

/* notification-box */
#notification-box {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #364042; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#notification-box:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.agent-button{
    padding: 12px 8px;
}

.logs {
    overflow-y: auto;
    background-color: #ffffff;
    /*border-radius: 5px;*/
    /*min-height: 60px;*/
    max-height: 300px;
    border-left: 2px solid;
    border-right: 2px solid;

}

#main-block input {
    min-height: 100px;
}

#refresh-btn {
    float: right;
    padding: 10px;
}

#main-block .card {
    min-width: 48.5vw;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.logs_text{
    margin-bottom: 0!important;
}

#refresh-btn{
    float: right;
}