* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
}

/*  navbar start */
.top-navbar {
	padding: 0 20px 0 20px !important;
}

 #logo-id {
 	border-radius: 2px;
 	background-color: #fff;

 }
/*  navbar end */

/* main content start */

.main-container {
	background-image: url(../img/train-depo.jpg);
	background-size: cover;
	background-position: center center;
	min-height: 500px;
	padding: 20px;
}

.main-top {
	margin-left: 0 !important;
}

.form-div {
	max-width: 500px !important;
	margin: 15px;
	padding: 15px;
	border-radius: 12px;
 	background-color: #364042 ;
}
	
.form-group {
	color:  #fff;
}

.train-table {
	margin-top: 10px;
	min-height: 50px;
	overflow: auto;
	padding-bottom: 180px;
}
 	/* registration form start */
 	.reg-form-div {
 		margin-left: auto;
 		margin-right: auto;
 		/* max-width: 500px !important; */
 		padding: 15px;
		border-radius: 12px;
	 	background-color: #364042 ;
 	}
	.train-table-null {
		margin-top: 10px;
		min-height: 50px;
		overflow: auto;
		padding-bottom: 140px;
	}
	/* registration form end */
/* main content end */

/* footer start */

.footer {
	position: relative;
	background-color: #222;
	color: #fff;
	height: 165px;
	margin-top: -150px;
	padding-top: 30px;
}
.footer-row {
	max-width: 100%;
}
.bottom-footer {
	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2;
}

.footer-nav {
	text-align: right;
	list-style: none;
}

.footer-nav li {
	display: inline;
}

.footer-nav li:not(:first-child):before {
	content: '|';
	padding: 0px 10px;
}

.footer-nav a {
	color: #b2b2b2;
}

.footer-nav a:hover {
	color: #fff;
}
/* footer end */


/* profile start */
.row {
	display: table;
}

.list-group-item{
	border: 0 !important;
	background-color: transparent !important;
}

.contact_list {
	background-color: transparent !Important;
}

.list_of_tickets a {
	color: #ffffff !important;
	margin-bottom: 0;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.title{
	text-align: center;
	color: #ffffff;
}

.personal_details{
	border-radius: 12px;
	background-color: #364042;
	padding: 15px;
	color: #ffffff;
}

.tickets{
	border-radius: 12px;
	background-color: #364042;
	padding: 15px;
	margin-bottom: 20px;
}
.personal_details ul li{
	font-size: 14px;
	margin: 0;
	padding: 0;
}

table {
	background: transparent !important;
}

.main-profile{
	min-height: 780px!important;
}
/* profile end*/